## Preprocessing

In [175]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras.optimizers.schedules import ExponentialDecay
from tensorflow.keras.callbacks import LearningRateScheduler
from tensorflow.keras.optimizers import Adam
from sklearn.utils.class_weight import compute_class_weight
import numpy as np
import pandas as pd

application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [176]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)

In [177]:
# Determine the number of unique values in each column.
unique_values = application_df.nunique()
unique_values

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [178]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [179]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 500
application_types_to_replace = application_type_counts[application_type_counts < cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [180]:
# Look at CLASSIFICATION value counts for binning
classification_type_counts = application_df['CLASSIFICATION'].value_counts()
classification_type_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [181]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_gt1 = classification_type_counts[classification_type_counts > 1]
classification_counts_gt1

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [182]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value = 100
classifications_to_replace = classification_type_counts[classification_type_counts < cutoff_value].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [183]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_numeric = pd.get_dummies(application_df)
application_df_numeric

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [184]:
# Split our preprocessed data into our features and target arrays
X = application_df_numeric.drop('IS_SUCCESSFUL', axis=1).values
y = application_df_numeric['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Display the shape of the train and test sets to verify
print(f"Shape of X_train: {X_train.shape}")
print(f"Shape of X_test: {X_test.shape}")
print(f"Shape of y_train: {y_train.shape}")
print(f"Shape of y_test: {y_test.shape}")

Shape of X_train: (27439, 49)
Shape of X_test: (6860, 49)
Shape of y_train: (27439,)
Shape of y_test: (6860,)

In [185]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [186]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_of_features = X_train.shape[1]

nn = tf.keras.models.Sequential([
    tf.keras.layers.Dense(units=100, activation='relu', input_dim=number_of_features),  # Increased units
    tf.keras.layers.Dropout(0.3),  # Adjusted dropout rate
    tf.keras.layers.Dense(units=50, activation='relu'),  # Added layer & adjusted units
    tf.keras.layers.Dropout(0.3),  # Consistent dropout rate for added layer
    tf.keras.layers.Dense(units=1, activation='sigmoid')
])



# Check the structure of the model
nn.summary()

Model: "sequential_11"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_38 (Dense)            (None, 100)               5000

 dropout_18 (Dropout)        (None, 100)               0

 dense_39 (Dense)            (None, 50)                5050

 dropout_19 (Dropout)        (None, 50)                0

 dense_40 (Dense)            (None, 1)                 51

=================================================================
Total params: 10101 (39.46 KB)
Trainable params: 10101 (39.46 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [187]:
class_weights = compute_class_weight('balanced', classes=np.unique(y_train), y=y_train)
class_weight_dict = dict(enumerate(class_weights))

In [188]:
initial_learning_rate = 1e-3  # Lower starting learning rate
lr_schedule = ExponentialDecay(
    initial_learning_rate=initial_learning_rate,
    decay_steps=10000,
    decay_rate=0.9,
    staircase=True)

optimizer = Adam(learning_rate=1e-3, beta_1=0.9, beta_2=0.999, epsilon=1e-07)

In [189]:
# Compile the model
nn.compile(optimizer=optimizer, loss='binary_crossentropy', metrics=['accuracy'])
early_stopping = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)  # Increased patience
nn.summary()

Model: "sequential_11"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_38 (Dense)            (None, 100)               5000

 dropout_18 (Dropout)        (None, 100)               0

 dense_39 (Dense)            (None, 50)                5050

 dropout_19 (Dropout)        (None, 50)                0

 dense_40 (Dense)            (None, 1)                 51

=================================================================
Total params: 10101 (39.46 KB)
Trainable params: 10101 (39.46 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [190]:
# Train the model
history = nn.fit(
    X_train_scaled,
    y_train,
    epochs=100,
    validation_split=0.2,
    callbacks=[early_stopping],  # Assuming early_stopping is already defined
    verbose=1,
    class_weight=class_weight_dict  # Include the class weights here
)

Epoch 1/100
686/686 [==============================] - 3s 2ms/step - loss: 0.6040 - accuracy: 0.6994 - val_loss: 0.5603 - val_accuracy: 0.7347
Epoch 2/100
686/686 [==============================] - 2s 2ms/step - loss: 0.5746 - accuracy: 0.7214 - val_loss: 0.5509 - val_accuracy: 0.7391
Epoch 3/100
686/686 [==============================] - 2s 2ms/step - loss: 0.5683 - accuracy: 0.7253 - val_loss: 0.5491 - val_accuracy: 0.7371
Epoch 4/100
686/686 [==============================] - 2s 2ms/step - loss: 0.5643 - accuracy: 0.7258 - val_loss: 0.5463 - val_accuracy: 0.7372
Epoch 5/100
686/686 [==============================] - 2s 3ms/step - loss: 0.5625 - accuracy: 0.7266 - val_loss: 0.5429 - val_accuracy: 0.7362
Epoch 6/100
686/686 [==============================] - 2s 2ms/step - loss: 0.5598 - accuracy: 0.7266 - val_loss: 0.5495 - val_accuracy: 0.7365
Epoch 7/100
686/686 [==============================] - 2s 2ms/step - loss: 0.5605 - accuracy: 0.7293 - val_loss: 0.5435 - val_accuracy: 0.7391
Epoch 8/100
686/686 [==============================] - 2s 2ms/step - loss: 0.5590 - accuracy: 0.7293 - val_loss: 0.5475 - val_accuracy: 0.7389
Epoch 9/100
686/686 [==============================] - 2s 2ms/step - loss: 0.5576 - accuracy: 0.7273 - val_loss: 0.5413 - val_accuracy: 0.7394
Epoch 10/100
686/686 [==============================] - 2s 2ms/step - loss: 0.5569 - accuracy: 0.7300 - val_loss: 0.5416 - val_accuracy: 0.7391
Epoch 11/100
686/686 [==============================] - 2s 2ms/step - loss: 0.5557 - accuracy: 0.7296 - val_loss: 0.5419 - val_accuracy: 0.7374
Epoch 12/100
686/686 [==============================] - 2s 2ms/step - loss: 0.5563 - accuracy: 0.7297 - val_loss: 0.5429 - val_accuracy: 0.7391
Epoch 13/100
686/686 [==============================] - 2s 2ms/step - loss: 0.5536 - accuracy: 0.7307 - val_loss: 0.5406 - val_accuracy: 0.7394
Epoch 14/100
686/686 [==============================] - 2s 2ms/step - loss: 0.5568 - accuracy: 0.7293 - val_loss: 0.5456 - val_accuracy: 0.7394
Epoch 15/100
686/686 [==============================] - 2s 2ms/step - loss: 0.5553 - accuracy: 0.7308 - val_loss: 0.5426 - val_accuracy: 0.7403
Epoch 16/100
686/686 [==============================] - 2s 2ms/step - loss: 0.5551 - accuracy: 0.7309 - val_loss: 0.5466 - val_accuracy: 0.7392
Epoch 17/100
686/686 [==============================] - 2s 2ms/step - loss: 0.5541 - accuracy: 0.7293 - val_loss: 0.5424 - val_accuracy: 0.7400
Epoch 18/100
686/686 [==============================] - 2s 2ms/step - loss: 0.5541 - accuracy: 0.7303 - val_loss: 0.5438 - val_accuracy: 0.7402
Epoch 19/100
686/686 [==============================] - 2s 2ms/step - loss: 0.5528 - accuracy: 0.7312 - val_loss: 0.5434 - val_accuracy: 0.7394
Epoch 20/100
686/686 [==============================] - 2s 2ms/step - loss: 0.5539 - accuracy: 0.7299 - val_loss: 0.5414 - val_accuracy: 0.7418
Epoch 21/100
686/686 [==============================] - 2s 2ms/step - loss: 0.5532 - accuracy: 0.7323 - val_loss: 0.5422 - val_accuracy: 0.7394
Epoch 22/100
686/686 [==============================] - 2s 2ms/step - loss: 0.5553 - accuracy: 0.7314 - val_loss: 0.5405 - val_accuracy: 0.7383
Epoch 23/100
686/686 [==============================] - 2s 2ms/step - loss: 0.5531 - accuracy: 0.7307 - val_loss: 0.5424 - val_accuracy: 0.7382
Epoch 24/100
686/686 [==============================] - 2s 2ms/step - loss: 0.5530 - accuracy: 0.7303 - val_loss: 0.5411 - val_accuracy: 0.7403
Epoch 25/100
686/686 [==============================] - 2s 2ms/step - loss: 0.5523 - accuracy: 0.7308 - val_loss: 0.5392 - val_accuracy: 0.7407
Epoch 26/100
686/686 [==============================] - 2s 2ms/step - loss: 0.5518 - accuracy: 0.7304 - val_loss: 0.5406 - val_accuracy: 0.7414
Epoch 27/100
686/686 [==============================] - 2s 2ms/step - loss: 0.5525 - accuracy: 0.7317 - val_loss: 0.5428 - val_accuracy: 0.7398
Epoch 28/100
686/686 [==============================] - 2s 2ms/step - loss: 0.5511 - accuracy: 0.7324 - val_loss: 0.5403 - val_accuracy: 0.7403
Epoch 29/100
686/686 [==============================] - 2s 2ms/step - loss: 0.5514 - accuracy: 0.7326 - val_loss: 0.5429 - val_accuracy: 0.7378
Epoch 30/100
686/686 [==============================] - 2s 2ms/step - loss: 0.5521 - accuracy: 0.7312 - val_loss: 0.5406 - val_accuracy: 0.7378
Epoch 31/100
686/686 [==============================] - 2s 2ms/step - loss: 0.5514 - accuracy: 0.7313 - val_loss: 0.5411 - val_accuracy: 0.7409
Epoch 32/100
686/686 [==============================] - 2s 2ms/step - loss: 0.5504 - accuracy: 0.7321 - val_loss: 0.5408 - val_accuracy: 0.7394
Epoch 33/100
686/686 [==============================] - 2s 2ms/step - loss: 0.5515 - accuracy: 0.7320 - val_loss: 0.5402 - val_accuracy: 0.7396
Epoch 34/100
686/686 [==============================] - 2s 2ms/step - loss: 0.5505 - accuracy: 0.7321 - val_loss: 0.5410 - val_accuracy: 0.7391
Epoch 35/100
686/686 [==============================] - 2s 2ms/step - loss: 0.5511 - accuracy: 0.7327 - val_loss: 0.5412 - val_accuracy: 0.7389

In [191]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - loss: 0.5528 - accuracy: 0.7294 - 319ms/epoch - 1ms/step
Loss: 0.552824854850769, Accuracy: 0.7294460535049438

In [158]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE